{% extends "layout.html" %}
{% block header %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-2 border rounded bg-success">
            <h1 class="text-center">1</h1>
        </div>
        <div class="col-2 border rounded bg-success">
            <h1 class="text-center">2</h1>
        </div>
        <div class="col-2 border rounded bg-success">
            <h1 class="text-center">3</h1>
        </div>
        <div class="col-2 border rounded bg-success">
            <h1 class="text-center">4</h1>
        </div>
        <div class="col-2 border rounded bg-success">
            <h1 class="text-center">5</h1>
        </div>
        <div class="col-2 border rounded">
            <h1 class="text-center">6</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<script>
    $(document).ready(function() {
        $('#target').DataTable();
    } );
</script>

<div class="container mt-3">
    <h1>Target Data Table</h1>
    <form class="form-inline mt-3" method="POST" action="/get_data_target">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Choose Table Name : </label>
                <select class="form-control" id="table_selected" name="table_selected">
                    {% for table in tables %}
                    <option value="{{ table }}">{{ table }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-sm-6" align="right">
            <input class="btn btn-danger" type="submit" value="Show Data Rows">
            <a href="/export_csv_file" class="btn btn-primary">Export .CSV file</a>
        </div>
    </form>
</div>

<div class="container mt-5" align="center">
    <h3 class="text-danger">{{ tbn }}</h3>
</div>

<div class="container mt-3">
    <table id="target" class="display">
        <thead>
            <tr>
                {% for col in columns %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for rows in data %}
            <tr>
                {% for row in rows %}
                <td>{{ row }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}